@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: auto;
  overflow-x: hidden;
  cursor: none;
  height: 100vh;
}

html.lenis {
  display: table;
}


.logo-size {
  color: #ff3300 !important;
  font-size: 12rem !important;
  font-weight: bold !important;
}

.img-logo--nav {
  height: 180px;
}

.img-logo--footer {
  height: 150px;
}

.slides {
  display: flex;
  height: 100vh;
  gap: 200px;
  align-items: center;
}

.slides img {
  border-radius: 15px;
  width: 100vw;
  height: 284px;
  transition: all 0.35s;
}

.studio_text-big {
  font-size: 3rem;
}

.slides img:hover {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  transform: translate3d(13.3315px, 0px, 0px) scale(1.1);
}

.size-left {
  width: 33%;
  font-size: 20px !important;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-flip:hover::after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover::before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #adadaf;
  display: block;
  transition: 0.5s;
  position: absolute;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip::before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #323237;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.contactImg {
  height: 200px !important;
  width: 300px !important;
}

.positionEnd {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
}

.draggable-item {
  touch-action: none;
}

.container-dragable {
  width: 100%;
  height: 90vh;
}

.text-position_contact {
  margin-left: 20px !important;
}

.img-size {
  width: 100% !important;
  max-width: 100% !important;
  height: 450px !important;
  object-fit: cover !important;
}

.contact-container{
  height: 100vh;
  display: grid;
  margin: 0 auto;
  align-items: center;
}

.swiperResponsive:nth-child(1n) {
  width: 90%;
}

.swiperResponsive:nth-child(2n) {
  width: 90%;
}

.swiperResponsive:nth-child(3n) {
  width: 90%;
}

.swiperResponsive:nth-child(4n) {
  width: 90%;
}

.swiperResponsive:nth-child(5n) {
  width: 90%;
}

@media screen and (max-width: 758px) {
  .slides {
    margin-top: 270px;
    display: none;
    gap: 200px;
  }

  .size-left {
    width: 100%;
    font-size: 14px !important;
    margin: 0px 20px;
  }

  .logo-size {
    font-size: 4rem !important;
  }

  .container-dragable {
    width: 100%;
    height: 78vh;
  }

  .text-position_contact {
    margin-left: 0px !important;
  }

  .contact-container{
    height: auto;
    display: block;
    margin: 0 auto;
    align-items: center;
  }

}

@media screen and (max-width: 1920px) and (min-width: 759px) {

  .size-left {
    width: 40%;
    font-size: 14px !important;
  }
  .line-height_size {
    margin-top: -50px;
  }
  html.lenis {
    display: table !important;
  }

  .logo-size {
    font-size: 11rem !important;
    font-weight: 400 !important;
  }

  .line-height_footer {
    line-height: 132px !important;
  }

  .img-position {
    margin-top: -200px;
    margin-bottom: 210px;
  }

  .text-position_contact {
    margin-left: 170px !important;
  }
}

::-webkit-scrollbar {
  /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}
