@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: auto;
  overflow-x: hidden;
  cursor: none;
}

html.lenis {
  display: table;
}

.logo-size {
  color: #ff3300 !important;
  font-size: 12rem !important;
  font-weight: bold !important;
}

.slides {
  margin-top: 270px;
  display: flex;
  gap: 200px;
}

.slides img {
  border-radius: 15px;
  width: 33vw;
  height: 284px;
  transition: all 0.35s;
}

.slides img:hover {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  transform: translate3d(13.3315px, 0px, 0px) scale(1.1);
}

.position-contact {
  margin-top: 270px;
}

.size-left {
  width: 33%;
  font-size: 20px !important;
}

footer {
  height: 41vh;
}

/* img view position*/

.PositionImg1 {
  margin-top: 13vh;
}

.PositionImg2 {
  margin-top: 69vh;
}

.PositionImg3 {
  margin-top: 30vh;
}

.PositionImg4 {
  margin-top: 43vh;
}

.PositionImg5 {
  margin-top: 15vh;
}

.PositionImg6 {
  margin-top: 74vh;
}

.PositionImg7 {
  margin-top: 35vh;
}

.PositionImg8 {
  margin-top: 49vh;
}

.PositionImg9 {
  margin-top: 23vh;
}

.grid {
  grid-area: main;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-row-gap: var(--rgap);
  grid-column-gap: var(--cgap);
}

.grid__item {
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform, opacity;
}

.pos-1 {
  grid-area: 3 / 1 / 3 / 1;
}
.pos-2 {
  grid-area: 6 / 2 / 6 / 2;
}
.pos-3 {
  grid-area: 2 / 3 / 2/ 3;
}
.pos-4 {
  grid-area: 4 / 4 / 4 / 4;
}
.pos-5 {
  grid-area: 5 / 5 / 5 / 5;
}
.pos-6 {
  grid-area: 3 / 5 / 3 / 6;
}
.pos-7 {
  grid-area: 4 / 6 / 5 / 7;
}
.pos-8 {
  grid-area: 5 / 3 / 7 / 7;
}
.pos-9 {
  grid-area: 3 / 7 / 4 / 9;
}
.pos-10 {
  grid-area: 5 / 5 / 6 / 6;
}
.pos-11 {
  grid-area: 2 / 6 / 3 / 7;
}
.pos-12 {
  grid-area: 4 / 6 / 5 / 7;
}
.pos-13 {
  grid-area: 6 / 6 / 7 / 7;
}
.pos-14 {
  grid-area: 3 / 7 / 4 / 8;
}
.pos-15 {
  grid-area: 5 / 7 / 6 / 8;
}
