@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: auto;
  overflow-x: hidden;
  cursor: none;
}

html.lenis {
  display: table;
}

.logo-size {
  color: #ff3300 !important;
  font-size: 12rem !important;
  font-weight: bold !important;
}

.slides {
  margin-top: 270px;
  display: flex;
  gap: 200px;
}

.slides img {
  border-radius: 15px;
  width: 33vw;
  height: 284px;
  transition: all 0.35s;
}

.slides img:hover {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  transform: translate3d(13.3315px, 0px, 0px) scale(1.1);
}

.size-left {
  width: 33%;
  font-size: 20px !important;
}

footer {
  height: 41vh;
}
